################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Selenium_Docker
/Selenium_Docker/bin/Debug/netcoreapp3.1
/Selenium_Docker/Database
/Selenium_Docker/obj
